<html>
  <head>
    <title>V-History Access OTP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Please Enter OTP Access Code from your device.</h1>
      <br>
      <form action="" method="post">
        <input type="password" placeholder="OTP Code" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" name="access_login" value="login">
        <input class="btn btn-default" type="submit" name="access_login" value="back">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>