body {
    padding-top: 50px;
    background-color: lightblue;
    color: white;
    font-family: "Lucida Console";
    text-align: center;
}
h1{
    font-family: mainFont;
}
h2{
    font-size: smaller;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}
th{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: center;
    font-size: smaller;
}
td{
    border-bottom: 1px solid #000;
    padding: 0px;
    text-align: center;
}
.stroke{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@font-face{
    font-family: mainFont;
    src: url('Chibold.ttf') format('truetype');
}